In [43]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [44]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [45]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

<h1>由此開始

In [46]:
sub_train.apply(pd.Series.nunique,axis=0)

WEEKDAY_APPR_PROCESS_START    7
dtype: int64

<h4>總共有7個不同的類型在WEEKDAY_APPR_PROCESS_START 裡面

In [47]:
sub_train_after = pd.get_dummies(sub_train)

<h2> 轉換前的shape

In [48]:
sub_train.shape

(307511, 1)

<h2>轉換後的shape

In [49]:
sub_train_after.shape

(307511, 7)

<h4> 可以看到number of column 從1拓展為7

In [50]:
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [51]:
sub_train_after.head()

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

<h4> 此用意是代表禮拜一二三...之間是正交關係，相互獨立，沒有任何關係